*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.color-picker{
    display: flex;
    flex-wrap:wrap;
    
    
    align-items: center;
}
.color-picker button{
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition:transorm .3s, box-shadow .3s;
}

.color-picker button img{
    width: 50px;
    height: 80px
}

.color-picker button:hover{
    transform: scale(1.1);
    box-shadow: 0.4px 8px rgba(0,0,0,0.2);
}



/*
.clr{
    height: 35px;
    width: 35px;
    background-color: white;
    border: radius 50%;border: 3px solid black;
    transition: transform .5s;
}
.clr:hover{
    transform: scale(1.2);
}

.clr:nth-child(1){
    
}

.clr:nth-child(2){
    
}

.clr:nth-child(3){
    
}

.clr:nth-child(4){
    
}

.clr:nth-child(5){
    
}

.clr:nth-child(6){
    
}

.clr:nth-child(7){
   
}

.clr:nth-child(8){
   
}*/