*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*.image-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
*/
.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-icons, .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* temporary fix so you can select the pencils properly */
}


.bottom-icons button{
    margin: 0 -13px;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition:transorm .3s, box-shadow .3s;
}

.icons button{
    margin: 0 30px;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition:transorm .3s, box-shadow .3s;
}

/*.bottom-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}*/

.bottom-icons img{
    width: 50px;
    height: 130px
}


.bottom-icons button:hover{
    transform: scale(1.1);
    box-shadow: 0.4px 8px rgba(0,0,0,0.2);
}

.undo{
position: absolute;
top: 10px;
left: 60px;
}

.redo{
position: absolute;
top: 10px;
left: 110px;
}

.home{
position: absolute;
top: 10px;
left: 160px;
}

.zoom-in{
position: absolute;
top: 10px;
left: 210px;
}

.zoom-out{
position: absolute;
top: 10px;
left: 260px;
}

.icon-button button{
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    transition:transorm .3s, box-shadow .3s;
}

.icons button img, .bottom-icons .icon-button img{
    width: 62px;
    height: 80px
}

.icons button:hover{
    transform: scale(1.1);
    box-shadow: 0.4px 8px rgba(0,0,0,0.2);
}

.eraser-icon img, .fill-icon img{
    width: 62px;
    height: 95px;
}
 
/*for tablet view*/
@media only screen and (min-width: 720px) and (max-width: 991px) {
    body {
      font-size: 14px;
      width: 90%;
      margin: auto;
    }
    .zoom-out{
        top: 40px; 
    }
  }

 
  /* styles for mobile devices 
@media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
  }*/